.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.foto{
  height: 200px;
  border-radius: 10px;
}
.caja{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
  background-color: rgb(229, 205, 239);
  height: 300px;
  
}

.caja2{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
  background-color: rgb(229, 205, 239);
  height: 450px;
}
.boton{
margin-top: 10px;
}

.titulo{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: larger;
  font-weight: 800;
}

.loading{
  font-size:xx-large;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 200px;
}
.carrito{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}